{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-md-6 pt-5">
            <h1>Music</h1>
            <p>This website contains examples work and other things I make. Please, look around. There are machine learning
                models that will make predictions for you, examples of data visualizations and more!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6 pt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NsPSF9I405U"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="col col-md-6 pt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/J0Y9iho-vdw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock %}