{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 p-5 my-auto">
            <h1>Welcome to my site!</h1>
            <p>This website contains examples work and other things I make. Please, look around. There are machine learning
                models that will make predictions for you, examples of data visualizations and more!
            </p>            
        </div>
        <div class="col-6 p-5">
            <img class="img-fluid" src="/static/data.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-6 p-5">
            <img class="img-fluid" src="/static/RF.png" alt="">
        </div>
        <div class="col-6 p-5 my-auto">
            <h1>Welcome to my site!</h1>
            <p>This website contains examples work and other things I make. Please, look around. There are machine learning
                models that will make predictions for you, examples of data visualizations and more!
            </p>            
        </div>
    </div>
</div>

{% endblock %}