{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 p-5 my-auto">
            <h1>Exploratory Analysis</h1>
            <p>This website contains examples work and other things I make. Please, look around. There are machine learning
                models that will make predictions for you, examples of data visualizations and more!
            </p>            
        </div>
        <div class="col-12 col-md-6 p-5">
            <img class="img-fluid" src="/static/histograms.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 p-5">
            <img class="img-fluid" src="/static/RF_confusion.png" alt="">
        </div>
        <div class="col-12 col-md-6 p-5 my-auto">
            <h1>Model Evaluation</h1>
            <p>This website contains examples work and other things I make. Please, look around. There are machine learning
                models that will make predictions for you, examples of data visualizations and more!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-5 my-auto">
            <h1>Performance Indicators</h1>
            <p>This website contains examples work and other things I make. Please, look around. There are machine learning
                models that will make predictions for you, examples of data visualizations and more!
            </p>
        </div>
        <div class="col-md-6 p-5">
            <img class="img-fluid" src="/static/violin.png" alt="">
        </div>
    </div>
     <div class="row">
        <div class="col-md-6 p-5">
            <img class="img-fluid" src="/static/monte-carlo-circle.png" alt="">
        </div>
        <div class="col-md-6 p-5 my-auto">
            <h1>Welcome to my site!</h1>
            <p>This website contains examples work and other things I make. Please, look around. There are machine learning
                models that will make predictions for you, examples of data visualizations and more!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-5 my-auto">
            <h1>Welcome to my site!</h1>
            <p>This website contains examples work and other things I make. Please, look around. There are machine learning
                models that will make predictions for you, examples of data visualizations and more!
            </p>
        </div>
        <div class="col-md-6 p-5">
            <img class="img-fluid" src="/static/monte-carlo-convergence.png" alt="">
        </div>
    </div>
</div>


{% endblock %}